{% extends "base.html" %}

{% block content %}
<div class="container">
        <div class="row" style="margin-top: 40px">
            <div class="col-sm-6">
                <ul>
                    <li class="col-sm-6"><a href="/reset_pwd" class="btn form-control btn-success">Reset Password</a></li>
                    <li class="col-sm-6"><a href="/delete_user" class="btn form-control btn-success">Delete User</a></li>
                </ul>
            </div>
        </div>
</div>
<h1 class="title">
  <table class="styled-table">
    <thead>
        <tr>
            <th>Info</th>
            <th>Detail</th>
        </tr>
    </thead>
    <tbody>
        <tr class="active-row">
            <td>Full name of the crypto</td>
            <td>{{slug}}</td>
        </tr>
        <tr class="active-row">
            <td>Number of market pairs</td>
            <td>{{num_market_pairs}}</td>
        </tr>
        <tr class="active-row">
            <td>Date added</td>
            <td>{{date_added}}</td>
        </tr>
        <tr class="active-row">
            <td>Cmc rank</td>
            <td>{{cmc_rank}}</td>
        </tr>
        <tr class="active-row">
            <td>Last updated</td>
            <td>{{last_updated}}</td>
        </tr>
        <tr class="active-row">
            <td>GBP price</td>
            <td>{{quote_GBP_price}}</td>
        </tr>
        <tr class="active-row">
            <td>GBP volume 24h</td>
            <td>{{quote_GBP_volume_24h}}</td>
        </tr>
        <tr class="active-row">
            <td>GBP volume change 24h</td>
            <td>{{quote_GBP_volume_change_24h}}</td>
        </tr>
        <tr class="active-row">
            <td>GBP percent change 1h</td>
            <td>{{quote_GBP_percent_change_1h}}%</td>
        </tr>
        <tr class="active-row">
            <td>GBP percent change 24h</td>
            <td>{{quote_GBP_percent_change_24h}}%</td>
        </tr>
        <tr class="active-row">
            <td>Sentiment</td>
            <td>{{sentiment}}</td>
        </tr>
        <tr class="active-row">
            <td>Popularity</td>
            <td>{{popularity}}</td>
        </tr>
        <!-- and so on... -->
    </tbody>
</table>

</h1>
{% endblock %}

